@using System.Web.Optimization
@using System.Web.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ReStik | @ViewBag.Title</title> 

    @* Подключаем CSS Bootstrap и Font Awesome *@
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/font-awesome/css")

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
<body>

    @* Шапка сайта (будет фиксированной) *@
    @Html.Partial("_Header")

    @* Боковая панель навигации (будет фиксированной) *@
    @{
        string userRole = null;
        var path = Request.Url.AbsolutePath;

        if (path.StartsWith("/Admin")) { userRole = "Admin"; }
        else if (path.StartsWith("/Waiter")) { userRole = "Waiter"; }
        else if (path.StartsWith("/Chef")) { userRole = "Chef"; }

        if (userRole != null)
        {
            @Html.Partial($"_{userRole}Navigation")
        }
    }

    @* Основной контейнер для контента страницы *@
    <main class="main-content">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
