@model eUseControl.Domain.Entities.DTO.UserDTO

@{
    ViewBag.Title = "Логин для сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Используем общий макет
}

<div class="container">
    <h2>Логин Для Сотрудников APD рестика</h2>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, "Имя")
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Пароль")
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        

        <button type="submit" class="btn btn-primary">Зайти</button>
    }
</div>