@model eUseControl.Web.Models.TableViewModel

@{
    ViewBag.Title = "Редактирование столика";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Редактировать ингредиент</h2>

    @using (Html.BeginForm("TableEdit", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TableNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.Capacity, "Количество")
            @Html.TextBoxFor(model => model.Capacity, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Статус")
            @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zone, "Зона")
            @Html.EnumDropDownListFor(model => model.Zone, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Zone, "", new { @class = "text-danger" })
        </div>

        <button type="submit" formmethod="post" class="btn btn-primary">Сохранить изменения</button>
        <a href="@Url.Action("Dashboard", "Admin")" class="btn btn-secondary">Отмена</a>
    }
</div>