@model List<eUseControl.Web.Models.TableViewModel>
@using eUseControl.Domain.Enums
@{
    ViewBag.Title = "Администратор - Текущая посадка и заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container mt-4">
    <h2>Текущая посадка и заказы</h2>

    <div class="row">
        @foreach (var table in Model)
        {
            <div class="col-md-4 mb-6">
                <div class="card @GetTableStatusClass(table.Status) border-4 shadow">
                    <div class="card-body">
                        <h5 class="card-title">Столик #@table.TableNumber</h5>
                        <p class="card-text">
                            Вместимость: @table.Capacity чел.<br>
                            Зона: @table.Zone<br>
                            Статус: @table.Status
                        </p>
                        <div class="mt-1">
                            <a href="@Url.Action("Edit", "Tables", new { area = "Admin", TableNumber = table.TableNumber })" class="btn btn-sm btn-warning">Редактировать</a>
                            <a href="@Url.Action("Delete", "Tables", new { area = "Admin", TableNumber = table.TableNumber })" class="btn btn-sm btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот ингредиент?');">Удалить</a>

                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mt-3">
        <a href="@Url.Action("Add", "Tables", new {area = "Admin"})" class="btn btn-primary">Добавить столик</a>
    </div>



</div>

@functions {
    string GetTableStatusClass(TStatus status)

    {
        return status switch
        {
            TStatus.Occupied => "border-danger",
            TStatus.Reserved => "border-warning",
            _ => "border-success"
        };
    }
}
